@font-face {
    font-family: 'Roboto Regular';
    src: url('#{$font-path}/Roboto-Regular.woff2') format('woff2'),
    url('#{$font-path}/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('#{$font-path}/Roboto-Medium.woff2') format('woff2'),
    url('#{$font-path}/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('#{$font-path}/Roboto-Light.woff2') format('woff2'),
    url('#{$font-path}/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('#{$font-path}/Roboto-Bold.woff2') format('woff2'),
    url('#{$font-path}/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luxia Display';
    src: url('#{$font-path}/Luxia-Display.woff2') format('woff2'),
    url('#{$font-path}/Luxia-Display.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Diet Tool';
    src: url('#{$font-path}/diet-tool.woff?bjuaff') format('woff'),
    url('#{$font-path}/diet-tool.svg?bjuaff#diet-tool') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}




@font-face {
    font-family: 'Cart Icon';
    src: url('#{$font-path}/cart-icon.woff?bjuaff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'icomoon';
    src:  url('#{$font-path}/icomoon.eot?km2lcs');
    src:  url('#{$font-path}/icomoon.eot?km2lcs#iefix') format('embedded-opentype'),
      url('#{$font-path}/icomoon.ttf?km2lcs') format('truetype'),
      url('#{$font-path}/icomoon.woff?km2lcs') format('woff'),
      url('#{$font-path}/icomoon.svg?km2lcs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-icon-delete:before {
    content: "\e939";
    color: #4a0d66;
  }
  .icon-icon-star-filled:before {
    content: "\e93a";
    color: #4a0d66;
  }
  .icon-icon-star-outline:before {
    content: "\e93b";
    color: #4a0d66;
  }
  .icon-eatology_myAccount_addresses:before {
    content: "\e932";
  }
  .icon-eatology_myAccount_deliveryCalendar:before {
    content: "\e933";
  }
  .icon-eatology_myAccount_logout:before {
    content: "\e934";
  }
  .icon-eatology_myAccount_mealRatings:before {
    content: "\e935";
  }
  .icon-eatology_myAccount_orders:before {
    content: "\e936";
  }
  .icon-eatology_myAccount_personalDetails:before {
    content: "\e937";
  }
  .icon-eatology_myAccount_subscriptions:before {
    content: "\e938";
  }
  .icon-burger-menu:before {
    content: "\e931";
    color: #958e98;
  }
  .icon-icon-back:before {
    content: "\e930";
    color: #948e97;
  }
  .icon-free-nutritionist:before {
    content: "\e92b";
    color: #4a0d66;
  }
  .icon-free-change-of-delivery-time:before {
    content: "\e92c";
    color: #4a0d66;
  }
  .icon-free-concierge-service:before {
    content: "\e92d";
    color: #4a0d66;
  }
  .icon-free-suspension:before {
    content: "\e92e";
    color: #4a0d66;
  }
  .icon-free_delivery:before {
    content: "\e92f";
    color: #4a0d66;
  }
  .icon-chevron-up:before {
    content: "\e917";
    color: #948e97;
  }
  .icon-chevron-down:before {
    content: "\e918";
    color: #948e97;
  }
  .icon-roller:before {
    content: "\e919";
    color: #4a0d66;
  }
  .icon-cart_time:before {
    content: "\e91a";
    color: #948e97;
  }
  .icon-cart_date:before {
    content: "\e91b";
    color: #948e97;
  }
  .icon-cart_delete:before {
    content: "\e91c";
    color: #958e98;
  }
  .icon-cart_positive:before {
    content: "\e91d";
    color: #948e97;
  }
  .icon-cart_negative:before {
    content: "\e91e";
    color: #948e97;
  }
  .icon-icon-down-arrow:before {
    content: "\e91f";
    color: #948e97;
  }
  .icon-address_edit:before {
    content: "\e920";
    color: #4a0d66;
  }
  .icon-account_orders:before {
    content: "\e921";
    color: #958e98;
  }
  .icon-account_logout:before {
    content: "\e922";
    color: #958e98;
  }
  .icon-account_address:before {
    content: "\e923";
    color: #958e98;
  }
  .icon-signIn_google:before {
    content: "\e924";
  }
  .icon-signIn_facebook:before {
    content: "\e925";
  }
  .icon-recipes_servings:before {
    content: "\e926";
    color: #4a0d66;
  }
  .icon-recipes_time:before {
    content: "\e927";
    color: #4a0d66;
  }
  .icon-recipes_difficulty:before {
    content: "\e928";
    color: #4a0d66;
  }
  .icon-recipes_calories:before {
    content: "\e929";
    color: #4a0d66;
  }
  .icon-salt-and-pepper:before {
    content: "\e92a";
    color: #4a0d66;
  }
  .icon-icon-food:before {
    content: "\e915";
    color: #4a0d66;
  }
  .icon-list:before {
    content: "\e916";
    color: #4a0d66;
  }
  .icon-icon-close:before {
    content: "\e914";
    color: #948e97;
  }
  .icon-icon-caret:before {
    content: "\e900";
    color: #948e97;
  }
  .icon-icon-cart:before {
    content: "\e901";
    color: #948e97;
  }
  .icon-icon-chat:before {
    content: "\e902";
    color: #fff;
  }
  .icon-icon-delivered:before {
    content: "\e903";
    color: #4a0d66;
  }
  .icon-icon-facebook:before {
    content: "\e904";
    color: #948e97;
  }
  .icon-icon_flexible:before {
    content: "\e905";
    color: #4a0d66;
  }
  .icon-icon_freshly-cooked:before {
    content: "\e906";
    color: #4a0d66;
  }
  .icon-icon_healthy:before {
    content: "\e907";
    color: #4a0d66;
  }
  .icon-icon-ig:before {
    content: "\e908";
    color: #948e97;
  }
  .icon-icon-incredibly-nutritious:before {
    content: "\e909";
    color: #4a0d66;
  }
  .icon-icon-linkedin:before {
    content: "\e90a";
    color: #948e97;
  }
  .icon-icon-location:before {
    content: "\e90b";
    color: #4a0d66;
  }
  .icon-icon-mail:before {
    content: "\e90c";
    color: #4a0d66;
  }
  .icon-icon-nom-nom-nom:before {
    content: "\e90d";
    color: #4a0d66;
  }
  .icon-icon-phone:before {
    content: "\e90e";
    color: #4a0d66;
  }
  .icon-icon-quotation:before {
    content: "\e90f";
    color: #4a0d66;
  }
  .icon-icon-search:before {
    content: "\e910";
    color: #948e97;
  }
  .icon-icon_tailor-made:before {
    content: "\e911";
    color: #4a0d66;
  }
  .icon-icon-twitter:before {
    content: "\e912";
    color: #948e97;
  }
  .icon-icon-user:before {
    content: "\e913";
    color: #948e97;
  }
  