//reset 
.woocommerce .cross-sells ul.products li.product {
    width: 33.33%!important;
    h2 {
        margin: 0 0 4px 0;
    }
    .price{
        @include paragraph-text;
        line-height: 22px;
        margin-bottom: 16px;
        width: 100%;
        display: block;
    }
    a {
        display: block;
    }
    img {
        height: 205px;
    }
    @include mobile {
        // width: 100%!important;

        width: calc((100% - 15.5px) / 2) !important;
        margin-right: 15.5px;
        margin-bottom: 24px;
        // border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 12px;
        position: relative;
        
        & > div {
            height: auto !important;
        }

        img {
            max-height: 132px;
            min-height: 132px;
            border-radius: 12px 12px 0 0;
        }

        .meal-slider__wrapper {
            border-radius: 12px;
            text-align: center;
        }

        .meal-slider__content {
            height: auto;
            margin-bottom: 16px !important;
        }
    }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    padding: 0;
}

ul.products[class*=columns-] li.product,
.woocommerce-page ul.products[class*=columns-] li.product {
    @media (max-width: 767px) {
        margin: 0 0 10px;
    }
}

.post-type-archive,
.woocommerce-cart {
    #main {
        @include container;
        margin-top: 46px;
        h1 {
            margin-bottom: 46px;
        }
        #meal-benefits {
            margin-bottom: 45px;
            @include tablet {
                margin-bottom: 70px;
            }
            .flickity-viewport {
                @include tablet {
                    height: 220px;
                }
            }

            .meal-benefits-slider {
                height: 250px;
                .flickity-page-dots {
                    bottom: 24px;
                    @include tablet {
                        bottom: 0;
                    }
                    .dot {
                        width: 8px;
                        height: 8px;
                        &.is-selected {
                            top: 0;
                        }
                    }
                }
                .meal-benefits-slider__slide {
                    height: 178px;
                    width: 360px;
                    border: 1px solid #EBE1EF;
                    border-radius: 23px;
                    background-color: #FEFBFF;
                    margin: 0 16.5px;
                    @include flex-center-center;
                    flex-direction: column;
                    @include tablet {
                        width: 320px;
                        margin: 0 15px;
                        padding: 20px;
                    }
                    @include mobile {
                        height: 220px;
                        // width: 170px;
                        width: 150px;
                        padding: 10px;
                        margin: 0 10px;
                    }
                    span {
                        font-size: 85px;
                    }
                    h6 {
                        @include form-small-text;
                        line-height: 24px;
                        color: #65676E;
                        text-align: center;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
    .products {
        li {
            width: 360px;
            margin: 0 15px 69px;
            &:hover {
                .meal-slider__wrapper {
                    box-shadow: 0 40px 70px 15px rgba(74, 13, 102, 0.1);
                }
            }
            .meal-slider__wrapper {
                width: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 30px;
                max-width: 380px;
                border: 1px solid #E6E6E6;
                border-radius: 30px;
                a {
                    &:after {
                        display: none;
                    }
                }
                img {
                    width: 360px;
                    height: 245px;
                    object-fit: cover;
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                    margin: 0;
                    @media (max-width: 767px) {
                        height: 147px;
                        width: 155px;
                        border-radius: 20px 20px 0 0;
                    }
                }
                .meal-slider__content {
                    text-align: left;
                    background-color: #FFFFFF;
                    border-top: none;
                    border-bottom-right-radius: 30px;
                    border-bottom-left-radius: 30px;
                    margin: -6px auto 10px;
                    // padding: 34px 40px;
                    padding: 0 24px 24px;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 767px) {
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        padding: 3px 18px;
                        height: 180px;
                    }
                    a {
                        &:after {
                            display: none;
                        }
                        &.button-links__product {
                            height: 48px;
                            width: 161px;
                            padding: 10px 23px;
                            margin-top: 9px;
                            @media (max-width: 1100px) {
                                font-size: 10px;
                                line-height: 24px;
                                padding: 5px;
                                height: 38px;
                                width: 119px;
                            }
                        }
                    }
                    p {
                        margin: 0;
                        @include paragraph-small-text;
                        text-align: left;
                        text-transform: uppercase;
                        @media (max-width: 1100px) {
                            font-size: 11px;
                            line-height: 20px;
                        }
                    }
                    h2 {
                        @include header-h3;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        @media (max-width: 1100px) {
                            font-size: 17px;
                            line-height: 26px;
                        }
                        &:hover {
                            color: $gold;
                        }
                    }
                }
            }
        }
    }
    #footer {
        margin-top: 0!important;
    }
}

//
// SINGLE PRODUCT
//
.single-product {
    a {
        &:after {
            display: none;
        }
    }
    .back-to-meal-plans {
        padding-top: 48px;
        padding-bottom: 48px;
        color: $form-text;
        @media (max-width: 950px) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
        a {
            @include button-links-text;
            color: $form-text;
        }
        span {
            font-size: 14px;
            position: relative;
            top: 1px;
        }
        @include container;
    }
    .product {
        @include container;
        .woocommerce-product-gallery--with-images {
            display: flex;
            max-width: 41%;
            width: 41%;
            @media (max-width: 950px) {
                max-width: 100%;
                width: 100%;
            }
            @include mobile {
                flex-direction: column;
            }
            .flex-viewport {
                order: 2;
                float: initial;
                height: 514px!important;
                @include mobile {
                    height: 350px!important;
                }
                figure {
                        // @media (min-width: 1700px)
                        // {
                        //     div.woocommerce-product-gallery__image {
                        //     width: 100%!important;
                        // }
                    // }
                    img {
                        width: 404px;
                        height: 514px!important;
                        box-shadow: none!important;
                        object-fit: cover!important;
                        overflow: hidden;
                        @include tablet {
                            width: 100%!important;
                        }
                        @include mobile {
                            height: 350px!important;
                        }
                    }
                }

                @include mobile {
                    order: 1;
                    float: initial;
                }
            }
            .flex-control-nav {
                order: 1;
                float: initial;
                width: 70px;
                min-width: 70px;
                margin-right: 20px!important;
                @include mobile {
                    // margin-top: 20px!important;
                    width: 100%!important;

                }
                li {
                    width: 100%!important;
                    float: none!important;
                    list-style: initial!important;
                    margin-bottom: 20px!important;
                    .flex-active {
                        border: 1px solid $purple;
                    }
                    img {
                        opacity: 1!important;
                    }
                    @include mobile {
                        width: 25%!important;
                        float: left!important;
                        margin-right: 15px!important;
                        list-style: none!important;
                        &:last-child {
                            margin-right: 0!important;
                        }
                    }
                }
                @include mobile {
                    order: 1;
                    float: initial;
                }
            }
            .woocommerce-product-gallery__trigger {
                order: 3;
                float: initial;
            }
        }
        .summary {
            &.entry-summary {
                width: 59%;
                padding-left: 98px;
                @media (max-width: 950px) {
                    max-width: 100%;
                    width: 100%;
                    padding-left: 0px;
                    margin-top: 15px;
                }
                h1 {
                    color: $text-gray;
                    margin-bottom: 4px;
                    @media (max-width: 767px) {
                        margin-bottom: 14px;
                    }
                }
                h1+.price {
                    display: none;
                }
                .woocommerce-product-details__short-description {
                    border-bottom: 1px solid #EFEFEF;
                    padding-bottom: 30px;
                    p {
                        font-size: 14px!important;
                        line-height: 26px!important;
                    }
                }
                .single_variation_wrap {
                    .woocommerce-variation {
                        &.single_variation {}
                    }
                    .woocommerce-variation-price {
                        .price {
                            @include product-total;
                            color: $purple;
                        }
                    }
                    .before_add_to_cart_content {
                        margin-bottom: 58px;
                        .per_day_price {
                            span {
                                @include product-total;
                                color: $gold;
                                text-transform: uppercase;
                            }
                        }
                        .total_price_before_cart {
                            margin-top: 8px;
                            span {
                                @include product-total;
                                color: $purple;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .woocommerce-variation-add-to-cart {
                        margin-top: 70px;
                        margin-bottom: 258px;
                        @include mobile {
                            margin-bottom: 160px;
                        }
                        .quantity {
                            opacity: 0;
                            width: 0;
                            height: 0;
                            visibility: hidden;
                        }
                        button {
                            &.single_add_to_cart_button {
                                @include button-links;
                            }
                        }
                    }

                    .wc-pao-addon-container {

                        .wc-pao-addon-wrap {
                            width: 48%;

                            .checkmark {
                                top: 2px;
                            }
                        }
                        
                    }
                }
                .variations {
                    margin-top: 30px;
                    position: relative;
                    .label,
                    .value {
                        display: block;
                        width: 100%;
                        clear: both;
                        line-height: initial;
                    }
                    .label {
                        padding-right: 0;
                        padding-bottom: 11px;
                        label {
                            @include paragraph-text;
                            span {
                                @include footer-main-text;
                                color: #948E97;
                                letter-spacing: normal;
                                display: block;
                                margin-top: 8px;
                                margin-bottom: 14px;
                            }
                        }
                    }
                    .value {
                        padding-bottom: 6px;
                        position: relative;
                        select {
                            display: none;
                        }
                        input[type=radio]{
                            appearance: none;
                            position: absolute;
                            left: -9999px;
                        }
                        .reset_variations {
                            @include paragraph-text;
                        }

                        label {
                            border: 1px solid #948E97;
                            border-radius: 80px !important;
                            text-align: center;
                            background: white;
                            padding: 12px 24px;
                            display: inline;
                            width: auto;
                            height: 48px;
                            margin-bottom: 0px;
                            cursor: pointer;
                            @include button-links-text;
                            color: $light-gray;
                            margin-right: 5px;
                            margin-bottom: 8px;

                            &.selected {
                                background-color: $purple;
                                color: white;
                                box-shadow: 0 10px 25px 0 rgba(74, 13, 102, 0.2);
                            }

                            &::before {
                                display: none !important;
                            }
                        }

                        // .tawcvs-swatches {

                        //     .swatch-item-wrapper {
                        //         margin-right: 5px !important;
                        //     }
                            
                        //     .swatch {
                        //         border: 1px solid #948E97;
                        //         border-radius: 80px !important;
                        //         text-align: center;
                        //         background: white;
                        //         padding: 12px 24px;
                        //         display: inline;
                        //         width: auto;
                        //         height: 48px;
                        //         margin-bottom: 0px;
                        //         &.swatch-label {
                        //             @include button-links-text;
                        //             color: $light-gray;
                        //         }
                        //         &.selected {
                        //             background-color: $purple;
                        //             color: white;
                        //             box-shadow: 0 10px 25px 0 rgba(74, 13, 102, 0.2);
                        //         }

                        //         &::before {
                        //             display: none !important;
                        //         }
                        //     }
                        // }

                        & > input:first-child {
                            display: none;
                        }

                        & > label:nth-child(2) {
                            display: none;
                        }
                    }
                }
                // custom accordion css
                .wecreate-accordion {
                    padding-top: 20px;
                    border-top: 1px solid $light-gray;
                    .wecreate-accordion-header {
                        label {
                            color: $text-gray!important;
                            font-family: $RobotoRegular!important;
                            font-size: 20px!important;
                            letter-spacing: 0;
                            line-height: 30px;
                            position: relative;
                            cursor: pointer;
                            span.expand-collapse {
                                font-size: 9px;
                                position: relative;
                                float: right;
                                top: 12px;
                                transition: 0.50s;
                                -webkit-transition: 0.50s;
                                -moz-transition: 0.50s;
                                -ms-transition: 0.50s;
                                -o-transition: 0.50s;
                            }
                            span.rotated {
                                transform: rotateZ(-180deg);
                                transition: 0.50s;
                                -webkit-transition: 0.50s;
                                -moz-transition: 0.50s;
                                -ms-transition: 0.50s;
                                -o-transition: 0.50s;
                            }
                        }
                    }
                    .wecreate-accordion-body {
                        #product-addons-total,
                        .wc-pao-addon-container {
                            display: none;
                        }
                        .woocommerce-variation {
                            display: none!important;
                        }
                    }
                }
                .wc-pao-addon-container {
                    .wc-pao-addon-description p {
                        width: 100%!important;
                    }                    
                    .wc-pao-addon-name {
                        @include header-h5;
                        clear: both;
                        display: block;
                        margin-bottom: 11px;
                        margin-top: 27px;
                    }
                    p {
                        display: inline-block;
                        clear: none!important;
                        width: 166px;
                        @media (max-width: 375px) {
                            width: 160px;
                        }                        
                        &:before,
                        &:after {
                            display: none;
                        }
                        label {
                            @include product-add-ons-text;
                            .checkmark {
                                top: -1px;
                            }
                        }
                    }
                }
                .product-addon-totals {
                    ul {
                        li {
                            @include product-add-ons-text;
                        }
                    }
                    .price {
                        @include product-total;
                        color: $purple;
                    }
                }
            }
        }

        &.product_cat-add-on-product {

            .woocommerce-product-gallery {

                .flex-control-nav {
                    display: flex;
                    flex-flow: row nowrap;
                    width: 100%;
                    overflow-x: auto;
                    order: 2;
                    margin-right: 0 !important;
                    list-style: none !important;

                    li {
                        width: 120px !important;
                        border-radius: 4px;

                        &::marker {
                            color: transparent;
                        }

                        &:not(:last-child) {
                            margin-right: 16px !important;
                        }
                    }

                    li > img {
                        width: 120px !important;
                        height: 89px;
                        max-width: unset;
                        object-fit: contain;
                        border-radius: 4px;
                    }
                }

                .flex-viewport {
                    order: 1;
                    flex-basis: 100%;
                    border-radius: 12px;
                    margin-bottom: 12px;
                    height: 394px !important;
                    list-style: none;
                    width: 100%;

                    @include tablet {
                        height: 257px !important;
                    }

                    figure img {
                        width: auto;
                        height: 394px !important;

                        @include tablet {
                            height: 257px !important;
                        }
                    }

                    .flex-control-nav {
                        width: auto;
                        position: absolute;
                        bottom: 8px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        justify-content: center;

                        @include tablet {
                            bottom: 16px;
                        }

                        img {
                            width: 10px !important;
                            height: 10px;
                            margin-bottom: 0 !important;
                            filter: brightness(100);
                            border-radius: 100%;
                            cursor: default;
                            opacity: .7 !important;
                        }

                        li {
                            width: 10px !important;
                            height: 10px;
                            margin-bottom: 0 !important;

                            &.active img {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
            }

            .button {
                padding: 12px 24px;
                background-color: $purple;
                color: white;

                @include mobile {
                    padding: 12px 40px;
                }

                &:hover {
                    background-color: white;
                    color: $purple;
                }
            }
            
            input.qty {
                border: 0;
                padding: 0px 0;
                margin-top: 21px;
                width: 24px;

                @include mobile {
                    position: relative;
                    top: -4px;
                }
            }

            #decrease,
            #increase {
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 32px;
                height: 32px;
                position: relative;
                top: 7px;

                @include desktop-only {
                    width: 24px;
                    height: 24px;
                }
            }

            #decrease {
                background-image: url('/wp-content/themes/wecreate/resources/assets/images/minus.svg');
            }

            #increase {
                background-image: url('/wp-content/themes/wecreate/resources/assets/images/plus.svg');
            }
        }
    }
    .woocommerce-tabs {
        ul.tabs {
            display: none;
        }
        .woocommerce-Tabs-panel {
            >h2 {
                margin-bottom: 15px;
                color: $text-gray;
                font-family: $RobotoRegular;
                font-size: 20px;
                letter-spacing: 0;
                line-height: 30px;
            }
            h3,
            h4,
            h5 {
                color: $text-gray;
                font-family: $RobotoRegular;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
            }
            p {
                color: $text-gray;
                font-family: $RobotoLight;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 30px;
            }
        }
    }

    .acoplw-bsone.acoplwRightAlign {
        font-family: $RobotoMedium;
        left: 16px !important;
        top: 16px !important;
        border-radius: 0 !important;
        width: fit-content !important;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 500 !important;
        font-size: 13px !important;
        line-height: 24px !important;
        display: inline-block !important;
        padding: 4px 12px !important;
    }

    .woocommerce-product-gallery__wrapper {
        @include desktop-only {
            height: 394px;
        }
    }

    .woocommerce-product-gallery__wrapper > div {
        border-radius: 12px;
        height: calc(100% + 1px) !important;
    }

    .woocommerce-product-gallery__wrapper > div > a,
    .woocommerce-product-gallery__wrapper > div > a > img {
        @include desktop-only {
            height: 394px !important;
        }
    }

    .product-cross-sells {
        position: relative;
        margin-bottom: 40px;
        clear: both;

        &::before {
            content: "";
            position: absolute;
            left: -88px;
            top: -62px;
            display: block;
            width: 280px;
            height: 280px;
            background: #FEF9F4;
            z-index: -1;
            border-radius: 100%;
            
            @include desktop-only {
                width: 400px;
                height: 400px;
                left: -200px;
                top: -174px;
            }
        }

        h2 {
            margin-bottom: 16px;
        }


        .c-wellness-boutique-cards__lists {

            .c-wellness-boutique__items {
                @include desktop-only {
                    width: calc((100% - 118.5px) / 3);
                }
            }
        }
    }

    div.summary {
        margin-bottom: 40px !important;
    }

    .add-on-product {
        .price_wrapper {
            margin-top: 0;

            .amount {
                color: $purple;
                font-size: 22px;
                line-height: 32px;
                font-family: $LuxiaDisplay;
            }
        }

        .woocommerce-product-details__short-description {
            display: none;
        }

        .entry-content {
            padding: 32px 0 !important;
            border-top: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;
        }
    
        .entry-content > h2 {
            display: none;
        }
    
        .entry-content > p {
            font-size: 14px !important;
            line-height: 22px !important;
    
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    /* Accordion styles */
    .addons-accordion {
        border-bottom: 1px solid #E7E7E7;
    }

    .addons-tabs__tab {
        width: 100%;
        color: #35363C;
        overflow: hidden;
        position: relative;
        margin-bottom: 32px;

        .tab-label {
            display: flex;
            justify-content: space-between;
            background: transparent;
            font-weight: bold;
            cursor: pointer;
            color: $purple;
            font-family: $RobotoMedium;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 2px;
            text-transform: uppercase;
            
            /* Icon */
            // &:hover {
            //     background: darken($midnight, 10%);
            // }
            &::after {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
                transform: rotate(90deg);
                position: relative;
                left: -4px;
                top: 4px
            }
        }
        .tab-content {
            max-height: 0;
            color: #35363C;
            background: white;
            transition: all .35s;
            padding: 0px;

            * {
                font-size: 14px;
            }
        }
        .tab-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: transparent;
            cursor: pointer;
            &:hover {
            // background: darken($midnight, 10%);
            }
        }
    }

    .addons-tabs {
        border-radius: 8px;
        overflow: hidden;

        input[type="checkbox"] {
            position: absolute;
            left: -9999px;
            display: none;
        }

            // :checked
        input:checked {
        + .tab-label {
            background: transparent;
            color:$purple;
            &::after {
                transform: rotate(270deg);
                left: -14px;
            }
        }
            ~ .tab-content {
                max-height: 100vh;
                padding: 8px;
            }
        }
    }
    

}

// simple product price
.price_wrapper {
    margin-top: 20px;
}

// subscription box on product
.woocommerce div.product div.images.woocommerce-product-gallery {
    flex-wrap: wrap;
}

.single-product .product .woocommerce-product-gallery--with-images .flex-viewport {
    flex-basis: 77%;
    @media (max-width: 1060px) {
        flex-basis: 75%;                 
    } 
    @media (max-width: 975px) {
        flex-basis: 74%;                 
    } 
    @media (max-width: 801px) {
        flex-basis: 73%;                 
    }               
}

.product-subscription-wrapper,
.product-subscription-wrapper-mobile {
    margin-top: 50px;
    border: 1px solid #EBE1EF;
    border-radius: 30px;
    background-color: #FDFAFF;
    display: flex;
    order: 5;
    flex-basis: 100%;
    //flex: 1 100%;
    padding: 40px 55px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 950px) {
        display: none;                 
    }     
    h4,
    h5 {
        text-align: center;
    }
}

.product-subscription-wrapper-mobile {
    @media (min-width: 951px) {
        display: none;                 
    }         
    clear: both;
    display: none;
    margin-top: -36px;
    margin-bottom: 83px;
}