// general woocoomerce css
.woocommerce-notices-wrapper {
    @include container;
}

.woocommerce-message {
    border-top-color: $purple!important;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: initial;
    border-top: none;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.select2-dropdown {
    border: none;
}

.woocommerce table.shop_table_responsive tr td.product-thumbnail,
.woocommerce-page table.shop_table_responsive tr td.product-thumbnail {
    @include mobile {
        display: block!important;
        text-align: left!important;
    }
}

.woocommerce table.shop_table_responsive tr td.product-thumbnail::before,
.woocommerce-page table.shop_table_responsive tr td.product-thumbnail::before {
    @include mobile {
        content: '';
    }
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
    @include mobile {
        color: $purple;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        font-family: $RobotoRegular;
        font-weight: normal;
    }
}

.woocommerce table.shop_table td:first-child {
    @include mobile {
        // padding-left: 0!important;
    }
}

.woocommerce table.shop_table td {
    @include mobile {
        padding: 17px 0 17px !important;
        &.product-remove {
            padding-bottom: 70px!important;
        }
    }
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 auto 2em;
    position: relative;
    background-color: white;
    border-top: 3px solid $purple;
    list-style: none outside;
    width: 70%;
    word-wrap: break-word;
    @include product-add-ons-text;
}

.woocommerce-notices-wrapper {
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        width: 100%;
    }
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
    @include product-add-ons-text;
}

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
    margin-bottom: 45px;
    a {
        @include header-h3;
        &:after {
            display: none;
        }
    }
}

.woocommerce-form-coupon,
.woocommerce-form-login {
    p {
        &:first-of-type {
            margin-bottom: 30px;
        }
        &.lost_password {
            margin-top: 30px;
            a {
                @include product-add-ons-text;
                color: $text-gray;
            }
        }
    }
    #coupon_code {
        border: none;
        border-bottom: 1px solid $light-gray;
        @include paragraph-text;
        padding: 0px 0px 20px 0px;
        background-color: transparent;
        margin-bottom: 28px!important;
        @include placeholder {
            @include paragraph-text;
        }
    }
    button {
        @include button-links;
        color: $purple !important;
        font-size: 13px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        display: inline-block !important;
        padding: 18px 30px!important;
        border: 1.5px solid $purple !important;
        border-radius: 30px !important;
        margin-top: 16px!important;
        &:hover {
            background-color: $purple !important;
            color: white!important;
        }
    }
    p.sign-in-buttons {
        display: inline-block;
        float: none;
        @include mobile {
            display: block;
            float: none;
            text-align: center;
        }
    }
    .social_login_separator {
        margin-top: 70px!important;
        float: left!important;
        @include mobile {
            margin-top: 15px!important;
            float: none!important;
            text-align: center!important;
        }
    }
    // social login styles
    .nsl-container {
        margin-top: 15px;
        @include mobile {
            margin-top: 10px;
        }
        .nsl-container-buttons {
            flex-direction: row!important;
            @include mobile {
                flex-direction: column!important;
            }
            a {
                max-width: 184px!important;
                &:last-child {
                    margin-left: 30px;
                    @include mobile {
                        margin-left: 0px;
                    }
                }
                @include mobile {
                    max-width: 100%!important;
                    width: 100%!important;
                    margin-left: 0;
                }
                &:hover {
                    &:after {
                        background: none!important;
                    }
                }
                .nsl-button.nsl-button-facebook {
                    padding: 10px 24px;
                    border-radius: 50px;
                    width: 182px;
                    @include mobile {
                        padding: 5px 12px;
                        width: 100%;
                        justify-content: center;
                    }
                    svg {
                        margin-top: 3px!important;
                        height: 17px!important;
                        width: 17px!important;
                        vertical-align: middle;
                    }
                    .nsl-button-label-container {
                        margin: 0 6px!important;
                        text-align: left;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-family: $RobotoMedium;
                        letter-spacing: 2px;
                        @include mobile {
                            flex: initial!important;
                        }
                    }
                }
                .nsl-button.nsl-button-google {
                    padding: 10px 24px;
                    border-radius: 50px;
                    width: 166px;
                    @include mobile {
                        padding: 5px 12px;
                        width: 100%;
                        justify-content: center;
                    }
                    svg {
                        margin-top: 3px!important;
                        height: 17px!important;
                        width: 17px!important;
                        vertical-align: middle;
                    }
                    .nsl-button-label-container {
                        margin: 0 6px!important;
                        text-align: left;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-family: $RobotoMedium;
                        letter-spacing: 2px;
                        @include mobile {
                            flex: initial!important;
                        }
                    }
                }
            }
        }
    }
}

.woocommerce-form-register {
    p.sign-in-buttons {
        // display: inline-block;
        // float: left;
        @include mobile {
            display: block;
            float: none;
            text-align: center;
        }
    }
    .social_login_separator {
        margin-top: 54px!important;
        float: left!important;
        @include mobile {
            margin-top: 15px!important;
            float: none!important;
            text-align: center!important;
        }
    }
    // social login styles
    .nsl-container {
        margin-top: 30px;
        @include mobile {
            margin-top: 10px;
        }
        .nsl-container-buttons {
            flex-direction: row!important;
            @include mobile {
                flex-direction: column!important;
            }
            a {
                max-width: 184px!important;
                &:last-child {
                    margin-left: 30px;
                    @include mobile {
                        margin-left: 0px;
                    }
                }
                @include mobile {
                    max-width: 100%!important;
                    width: 100%!important;
                    margin-left: 0;
                }
                &:hover {
                    &:after {
                        background: none!important;
                    }
                }
                .nsl-button.nsl-button-facebook {
                    padding: 10px 24px;
                    border-radius: 50px;
                    width: 182px;
                    @include mobile {
                        padding: 5px 12px;
                        width: 100%;
                        justify-content: center;
                    }
                    svg {
                        margin-top: 3px!important;
                        height: 15px!important;
                        width: 15px!important;
                        vertical-align: middle;
                    }
                    .nsl-button-label-container {
                        margin: 0 6px!important;
                        text-align: left;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-family: $RobotoMedium;
                        @include mobile {
                            flex: initial!important;
                        }
                    }
                }
                .nsl-button.nsl-button-google {
                    padding: 10px 24px;
                    border-radius: 50px;
                    width: 166px;
                    @include mobile {
                        padding: 5px 12px;
                        width: 100%;
                        justify-content: center;
                    }
                    svg {
                        margin-top: 3px!important;
                        height: 15px!important;
                        width: 15px!important;
                        vertical-align: middle;
                    }
                    .nsl-button-label-container {
                        margin: 0 6px!important;
                        text-align: left;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-family: $RobotoMedium;
                        @include mobile {
                            flex: initial!important;
                        }
                    }
                }
            }
        }
    }
}

.woocommerce-form-coupon {
    button {
        top: -27px;
    }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    // font-family: $icomoon;
    // content: "\e916";
    // color: $purple;
    // font-size: 22px;
    // top: 14px;
    // left: 14px;
    display: none;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: none;
    padding: 0;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
}

.woocommerce-form-login-toggle {
    span.dropdownlogin {
        display: inline-block;
        font-size: 12px!important;
        margin-left: 10px!important;
        top: -2px!important;
        position: relative!important;
        cursor: pointer;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
    }
    span.rotated {
        display: inline-block;
        transform: rotate(180deg)!important;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
    }
}

.woocommerce-form-coupon-toggle {
    span.dropdown {
        font-size: 12px!important;
        margin-left: 10px!important;
        top: -2px!important;
        position: relative!important;
        cursor: pointer;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
    }
    span.rotated {
        display: inline-block;
        transform: rotate(180deg)!important;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
    }
}

form.checkout_coupon {
    @include mobile {
        button[name=apply_coupon] {
            padding: 15px 20px!important
        }
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $purple;
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    &:after {
        content: "\e91f";
        font-family: $icomoon;
        color: $form-text;
        font-size: 7px;
        top: 0px;
        position: absolute;
        right: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.woocommerce table.shop_table {
    border: none;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    // border-radius: 5px;
}

.woocommerce a.button {
    @include header-h5;
    display: inline-block;
    &:after {
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .3s ease-in-out, background-color .3s ease-in-out;
    }
    &:hover {
        background-color: transparent!important;
        &:after {
            width: 100%;
            background: $purple;
        }
    }
}

.woocommerce table.shop_table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    @include mobile {
        margin-top: 24px;
    }
}

.woocommerce table.shop_table th {
    @include header-h5;
    color: $purple;
    margin: 0;
    border-bottom: 1px solid #EBE1EF;
    border-radius: 0;
    padding: 0 0 23px 0;
    text-align: left;
    &:first-child {
        padding-left: 24px;
    }
}

.woocommerce table.shop_table tr {
    &:nth-child(even) {
        background-color: transparent;
        @include mobile {
            background-color: white;
        }
    }
    &:last-child {
        background-color: transparent !important;
    }

    &.refresh {

        & > td {
            padding: 0 24px 0 0;
        }

        & > td > button {
            margin-top: 0 !important;

            @include tablet {
                margin-bottom: 14px !important;
                margin-top: 0px !important;
            }
        }
    }
}

.woocommerce .woocommerce-cart-form table.shop_table tbody tr {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #EBE1EF;
    }
    &:last-child::after,
    &:nth-last-child(2)::after {
        display: none;
    }
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    @include mobile {
        background-color: white;
    }
}

.woocommerce-page table.orders-table-mobile {
    padding: 40px;
    border: 1px solid #EBE1EF;
    border-radius: 12px;
    background: #FEFBFF;
    tr td {
        padding: 18px!important;
        @include mobile {
            text-align: left!important;
            width: 100%;
            font-family: $RobotoRegular;
            font-size: 14px;
            line-height: 19px;
            .woocommerce-button.view {
                font-family: $RobotoMedium;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 2px;
            }
        }
    }
    tr:nth-child(2n) {
        td {
            background-color: #F9F5FB!important;
        }
    }
}

tr:nth-child(even) td:first-child {
    border-top-left-radius: 15px;
}

tr:nth-child(even) td:last-child {
    border-top-right-radius: 15px;
}

tr:nth-child(even) td:first-child {
    border-bottom-left-radius: 15px;
}

tr:nth-child(even) td:last-child {
    border-bottom-right-radius: 15px;
}

.woocommerce table.shop_table td {
    padding: 28px 5px;
    @media only screen and (max-width: 1199px) and (min-width: 768px) {
        padding: 28px 5px!important;
        >div.product-thumbnail-wrapper {
            a {
                img {
                    width: 135px!important;
                }
            }
        }
    }
    &:first-child {
        padding-left: 24px;
        @include tablet {
            padding-left: 0px;
        }
    }
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table td a {
    @include product-add-ons-text;
    color: $light-gray;
    border: none;
}

.woocommerce table.shop_table td a {
    &:hover {
        &:after {
            background-color: $light-gray;
        }
    }
    &.view {
        text-transform: uppercase;
        color: $purple;
        &:hover {
            &:after {
                background-color: $purple;
            }
        }
    }
}

// cart
.woocommerce-cart,
.woocommerce-order-received {
    h1 {
        display: none;
    }
}

.cart-header {
    @include container;
    @include flex-center-between;
    margin-top: 40px;
    margin-bottom: 65px;
    width: 55%;
    @include mobile {
        margin: 42px auto 0px!important;
    }
    .cart-header__number {
        height: 50px;
        width: 50px;
        border: 1px solid #EBE1EF;
        background-color: #FDF8FF;
        border-radius: 25px;
        @include flex-center-center;
        @include mobile {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        span {
            @include paragraph-text;
            display: inline-block;
        }
        &.active {
            height: 66px;
            width: 66px;
            border-radius: 33px;
            @include mobile {
                height: 52px;
                width: 52px;
                border-radius: 26px;
            }
            span {
                height: 50px;
                width: 50px;
                border-radius: 25px;
                border: 1px solid $purple;
                background-color: $purple;
                color: white;
                @include flex-center-center;
                @include mobile {
                    height: 40px;
                    width: 40px;
                    border-radius: 20px;
                }
            }
        }
    }
    .cart-header__divider {
        height: 1px;
        width: 35%;
        background-color: #EBE0EF;
        @include mobile {
            width: 26%;
        }
        &.active {
            background-color: $purple;
        }
    }
}

// cart page
.page-cart {
    .woocommerce {
        a {
            &:after {
                display: none;
            }
        }
        table {
            &.shop_table {
                @include table-bubble;
                @include desktop-only {
                    padding: 24px 24px 24px 24px;
                }
                tbody {
                    tr {
                        &:last-of-type {
                            // background-color: white;
                        }
                        td {
                            &.product-name,
                            &.product-price,
                            &.product-subtotal,
                            a {
                                @include paragraph-text;
                            }
                            &.product-name {
                                .variation {
                                    display: none;
                                }
                            }
                            &.product-thumbnail {
                                img {
                                    width: 70px;
                                    height: 70px;
                                    object-fit: cover;
                                }
                            }
                            &.product-remove {
                                .remove {
                                    border: 1px transparent solid;
                                    position: relative;
                                    top: 11px;
                                    @include tablet {
                                        top: -12px;
                                    }
                                    &:hover {
                                        background: initial;
                                        &:before {
                                            color: #CC0000;
                                        }
                                    }
                                }
                            }
                            &:before {
                                @include mobile {
                                    // color: $light-gray;
                                    font-size: 18px;
                                    letter-spacing: 0;
                                    line-height: 28px;
                                    font-family: $RobotoRegular;
                                    font-weight: normal;
                                }
                            }
                            &.actions {
                                .coupon {
                                    label {
                                        display: flex;
                                        @include form-small-text;
                                        color: $light-gray;
                                        margin-bottom: 5px;
                                    }
                                    input {
                                        margin: 0;
                                        margin-right: 20px;
                                        padding: 8px 0 24px 0;
                                        border: none;
                                        border-bottom: 1px solid $light-gray;
                                        width: 180px;
                                        background-color: transparent;
                                        @include paragraph-text;
                                        text-transform: uppercase;
                                        @include mobile {
                                            width: 100%;
                                        }
                                    }
                                }
                                button {
                                    @include button-links;
                                    padding: 0px 20px 12px;
                                    @include mobile {
                                        width: 100%!important;
                                        float: left!important;
                                        margin-top: 25px;
                                    }
                                    &.button__update-cart {
                                        margin-right: 0px;
                                        margin-top: 27px;
                                        padding-right: 0;
                                        border: 0;
                                        position: relative;
                                        text-align: right;
                                        @include mobile {
                                            margin-right: 0px;
                                            margin-top: 17px;
                                        }

                                        &:hover {
                                            background-color: transparent !important;
                                            color: $purple !important;
                                        }

                                        &::before {
                                            content: "";
                                            background-image: url('/wp-content/themes/wecreate/resources/assets/images/refresh.png');
                                            background-repeat: no-repeat;
                                            width: 20px;
                                            height: 20px;
                                            display: inline-block;
                                            position: relative;
                                            top: 3px;
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }
                            ul#shipping_method {
                                float: right;
                            }
                            &.cart-subtotal {
                                @include tablet {
                                    &__value::before {
                                        content: 'Shipping';
                                    }
                                    &__value-free::before {
                                        content: '';
                                    }
                                    &__subtotal::before {
                                        color: $light-gray;
                                        content: 'Subtotal';
                                    }
                                    &__subtotal {
                                        padding-bottom: 0 !important;
                                        background-color: transparent !important;
                                    }
                                    &__value,
                                    &__value-free {
                                        padding-top: 4px !important;
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                        td.product-thumbnail {
                            div.product-thumbnail-wrapper {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                        .product-remove_mobile {
                            display: none;
                            // @include tablet {
                            //     display: block;
                            // }
                            @media only screen and (max-width: 767px) and (min-width: 1px) {
                                display: block;
                            }
                            a {
                                top: -12px;
                                position: relative;
                            }
                        }
                        .product-remove_desktop {
                            display: block;
                            // @include tablet {
                            //     display: none;
                            // }
                            @media only screen and (max-width: 767px) and (min-width: 1px) {
                                display: none;
                            }
                        }
                    }
                    tr.woocommerce-cart-form__cart-item {
                        @include tablet {
                            border-bottom: 1px solid gainsboro!important;
                            margin: 0px 0 24px!important
                        }
                    }
                }
                .product-quantity {
                    display: flex;
                    padding-bottom: 23px!important;
                    .quantity_change_wrapper {
                        width: 100%;
                        display: flex;
                        margin-top: 20px;
                        @include tablet {
                            margin-top: 0px;
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                        }
                        >button {
                            outline: none;
                            border: none;
                            background: none;
                            cursor: pointer;
                            font-size: 18px;
                        }
                        >.quantity {
                            input {
                                outline: none;
                                border: none;
                                border-bottom: 1px solid $light-gray;
                                background: none;
                                text-align: center;
                                margin: 0 8px;
                                margin: 0 4px;
                                padding: 6px;
                                font-family: $RobotoLight;
                            }
                            /* Chrome, Safari, Edge, Opera */
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            /* Firefox */
                            input[type=number] {
                                -moz-appearance: textfield;
                            }
                        }
                    }
                }
            }
            &.shop_table__order-summary {
                margin-top: 50px;
                @include mobile {
                    margin-top: -10px;
                    padding-top: 0px;
                }
                tr {
                    &.cart-heading {
                        td {
                            padding: 0 0 10px 0;
                            @include mobile {
                                text-align: left!important;
                            }
                            &:before {
                                @include mobile {
                                    content: '';
                                }
                            }
                        }
                    }
                    &.cart-subtotal,
                    &.order-total,
                    &.woocommerce-shipping-totals,
                    &.cart-discount {
                        background-color: transparent!important;
                        border: none;
                        th,
                        td {
                            border: none;
                            padding: 0 0 20px 0;
                        }
                        th {
                            @include header-h5;
                            color: $light-gray;
                        }
                        td {
                            text-align: right;
                            @include header-h5;
                        }
                    }
                    &.cart-order-coupon {
                        background-color: transparent;

                        td {
                            padding: 24px 0 0 0;
                            background-color: transparent !important;
                            border-radius: 0;
                        }

                        td label {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 22px;
                            color: $light-gray;
                            display: block;
                            margin-bottom: 8px;
                        }

                        td input {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 1px solid $light-gray;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 22px;
                            color: $text-gray;
                            padding-bottom: 8px;
                            width: calc(100% - 5%);
                        }

                        td button {
                            @include button-links;
                            padding: 12px 24px;
                            @include mobile {
                                margin-top: 25px;
                                height: 48px;
                            }
                        }

                        td > div {
                            display: flex;
                            flex-flow: row nowrap;
                            border-bottom: 1px solid #EDE5F1;
                            padding-bottom: 24px;

                            & > div {
                                width: 70%;
                                text-align: left;
                                @include mobile {
                                    margin-top: 12px;
                                }
                            }
                        }

                        td::before {
                            @include mobile {
                                display: none;
                            }
                        }
                    }
                    &.woocommerce-shipping-totals {
                        .woocommerce-shipping-destination {
                            display: none;
                            text-align: right;
                            @include cart-small-text;
                        }
                        .woocommerce-shipping-calculator {
                            @include cart-small-text;
                            a {
                                @include cart-small-text;
                            }
                        }
                    }
                    &.order-total {
                        td {
                            @include header-h3;
                            color: $purple;
                            strong {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
        .wc-proceed-to-checkout {
            text-align: right;
            margin-top: 39px;
            @include tablet {
                margin-top: 0px;
            }
            @include mobile {
                margin-top: -28px;
            }
            a {
                @include button-links;
                @include tablet {
                    width: 100%;
                }

                &:hover {
                    border: 1px $purple solid;
                    background-color: white !important;
                    color: $purple !important;
                }
                &:after {
                    display: none;
                }
            }
        }
        .cross-sells {
            margin-top: 92px;
            position: relative;
            padding-bottom: 40px;
            @include desktop-only {
                margin-top: 40px;
                padding-bottom: 0;
            }
            &::before {
                content: "";
                position: absolute;
                left: -200px;
                top: -174px;
                display: block;
                width: 280px;
                height: 280px;
                background: #FEF9F4;
                z-index: -1;
                border-radius: 100%;
                
                @include desktop-only {
                    width: 400px;
                    height: 400px;
                }
            }
            h2 {
                margin-bottom: 16px;
                font-size: 22px;
            }
            ul {
                &.products {
                    li {
                        &.product {
                            padding-bottom: 47px;
                        }
                        img {
                            width: 100%;
                        }
                        @include mobile {
                            width: 100%;
                            .meal-slider__wrapper {
                                max-width: 100%;
                                img {
                                    width: 100%;
                                    height: 250px;
                                }
                            }
                        }
                        .meal-slider__content {
                            @include desktop-only {
                                height: 240px!important;
                            }
                        }
                    }
                }
            }
            // css for quantity increment
            .up-sell-btn-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: baseline;
                justify-content: space-between;
                span.qty_text {
                    color: #948E97;
                    font-family: $RobotoLight;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                .quantity_wrapper {
                    >button {
                        outline: none;
                        border: none!important;
                        background: none!important;
                        cursor: pointer;
                        font-size: 18px;
                    }
                    >input {
                        outline: none;
                        border: none;
                        border-bottom: 1px solid $light-gray;
                        background: none;
                        text-align: center;
                        margin: 0 4px;
                        padding: 6px;
                        font-family: $RobotoLight;
                        font-size: 16px;
                    }
                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                }
                .up-sells-add-to-cart-wrapper {
                    margin-left: 10px;
                }
            }
        }
    }
    #footer {
        margin-top: 133px!important;
        @media (max-width: 900px) {
            margin-top: 0!important;
        }
    }
}

// checkout
.woocommerce-checkout {
    #general-page {
        @media (max-width: 900px) {
            overflow: hidden;
            padding-bottom: 150px;
        }
    }
    .woocommerce-form-login-toggle {
        @include mobile {
            margin-top: 58px;
        }
    }
    .woocommerce table.shop_table th:first-child {
        padding-left: 0;
    }
    #add_payment_method #payment,
    .woocommerce-cart #payment,
    .woocommerce-checkout #payment {
        background: transparent;
        border-radius: 0;
    }
    .woocommerce {
        .woocommerce-checkout {
            .col-1 {
                @media only screen and (max-width: 1199px) and (min-width: 768px) {
                    padding: 30px!important;
                }
                @include table-bubble;
                padding: 40px 35px;
                width: 60%;
                margin-right: 2%;
                @include tablet {
                    padding: 0px;
                }
                @media (max-width: 900px) {
                    width: 100%;
                    margin-right: 0;
                }
                @include mobile {
                    padding: 0;
                }
                .create-account,
                #ship-to-different-address {
                    label {
                        @include paragraph-text;
                        .checkmark {
                            top: 2px;
                        }
                    }
                }
                #jckwds-fields {
                    width: 100%;
                    h3 {
                        margin-bottom: 18px;
                    }
                    #jckwds-delivery-date-wrapper,
                    #jckwds-delivery-time-wrapper {
                        position: relative;
                        width: 47%;
                    }
                    #jckwds-delivery-date-wrapper {
                        margin-right: 1.5%;
                        float: left;
                    }
                    #jckwds-delivery-time-wrapper {
                        margin-left: 1.5%;
                        float: right;
                    }
                    #jckwds-delivery-time-wrapper {
                        .woocommerce-input-wrapper {
                            &:after {
                                content: "\e91a";
                                font-family: $icomoon;
                                color: $form-text;
                                font-size: 12px;
                                top: 10px;
                                position: absolute;
                                right: 0;
                            }
                            #jckwds-delivery-time {
                                border-radius: 0!important;
                                -moz-appearance: none;
                                /* Firefox */
                                -webkit-appearance: none;
                                /* Safari and Chrome */
                                border: none;
                                outline: none;
                                border-bottom: 1px solid $light-gray;
                                @include paragraph-text;
                                padding: 0px 0px 15px 0px;
                                background-color: transparent;
                            }
                        }
                    }
                    #jckwds-delivery-date-wrapper {
                        .woocommerce-input-wrapper {
                            &:after {
                                content: "\e91b";
                                font-family: $icomoon;
                                color: $form-text;
                                font-size: 16px;
                                top: 10px;
                                position: absolute;
                                right: 0;
                            }
                            input {
                                color: $text-gray;
                                line-height: 30px!important;
                                padding-bottom: 15px!important;
                                padding-top: 0px!important;
                            }
                        }
                    }
                }
                .woocommerce-billing-fields {
                    h3 {
                        margin-bottom: 17px;
                    }
                }
                .woocommerce-shipping-fields {
                    h3#ship-to-different-address {
                        label {
                            &:first-child {
                                float: left;
                                padding-left: 0!important;
                                margin-right: 10px;
                            }
                        }
                        .switch {
                            position: relative;
                            display: inline-block;
                            width: 40px;
                            height: 24px;
                        }
                        .switch span.checkmark {
                            display: none;
                        }
                        .switch input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #EAE7EB;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                        .slider:before {
                            position: absolute;
                            content: "";
                            height: 18px;
                            width: 18px;
                            left: 3px;
                            bottom: 3px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                        input:checked+.slider {
                            background-color: #2196F3;
                        }
                        input:focus+.slider {
                            box-shadow: 0 0 1px #2196F3;
                        }
                        input:checked+.slider:before {
                            -webkit-transform: translateX(16px);
                            -ms-transform: translateX(16px);
                            transform: translateX(16px);
                        }
                        /* Rounded sliders */
                        .slider.round {
                            border-radius: 34px;
                        }
                        .slider.round:before {
                            border-radius: 50%;
                        }
                    }
                }
            }
            .col-2 {
                @media only screen and (max-width: 1199px) and (min-width: 768px) {
                    table.woocommerce-checkout-review-order-table {
                        padding: 30px!important;
                    }
                    div.woocommerce-checkout-payment {
                        padding: 30px!important;
                    }
                }
                width: 38%;
                @media (max-width: 900px) {
                    width: 100%;
                    margin-top: 30px;
                }
                #order_review .shop_table,
                #payment {
                    @include table-bubble;
                    padding: 40px 35px 0px;
                    @media (max-width: 900px) {
                        padding: 0px;
                    }
                    .payment_methods {
                        padding-top: 8px;
                    }
                }
                #order_review {
                    thead,
                    tbody {
                        display: none;
                    }
                    tfoot {
                        tr {
                            background: transparent;
                            th,
                            td {
                                border-bottom: none;
                            }
                            td {
                                text-align: right;
                            }
                            &.order-summary-row {
                                td {
                                    text-align: left;
                                    padding: 0;
                                    h3 {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                #payment {
                    margin-top: 30px;
                    .wc_payment_method {
                        label {
                            @include product-add-ons-text;
                            color: $light-gray;
                            font-weight: normal!important;
                            img,
                            .about_paypal {
                                display: none;
                            }
                            input,
                            textarea {
                                border: none;
                                border-bottom: 1px solid $light-gray;
                                @include paragraph-text;
                                padding: 0px 0px 20px 0px;
                                background-color: transparent;
                                margin-bottom: 28px!important;
                            }
                        }
                    }
                    .place-order {
                        padding: 28px 0 0;
                        .woocommerce-terms-and-conditions-wrapper {
                            p,
                            p a {
                                @include form-small-text;
                                color: $light-gray;
                            }
                            a {
                                color: $purple!important;
                            }
                        }
                        .button {
                            @include button-links;
                            top: 113px;
                            @media (max-width: 900px) {
                                color: $purple;
                                border-color: $purple;
                                top: 125px;
                            }
                            @include mobile {
                                top: 52px;
                            }
                        }
                    }
                }
                #shipping_method {
                    label,
                    span {
                        color: #948e97;
                        font-family: $RobotoRegular;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    #footer {
        margin-top: 247px;
        @media (max-width: 900px) {
            margin-top: 0px;
        }
    }
    p#billing_state_field,
    p#billing_region_field,
    p#billing_postcode_field,
    p#shipping_state_field,
    p#shipping_region_field,
    p#shipping_postcode_field {
        span.select2-container {
            border-bottom: 1px solid #948E97;
            padding-bottom: 18px;
            width: 100%!important;
        }
    }
    p#shipping_postcode_field,
    p#billing_postcode_field {
        label {
            span.optional {
                color: red;
            }
        }
    }
    .woocommerce-checkout-review-order-table {
        #shipping_method {
            float: right;
        }
    }
}

.woocommerce-order-received {
    h2 {
        &.thank-you-header {
            @include header-h1;
            margin-bottom: 20px;
        }
        @include header-h2;
        margin-bottom: 20px;
    }
    p {
        &.woocommerce-thankyou-order-received,
        &.acf-p {
            width: 50%;
            margin-bottom: 40px;
        }
    }
    .thank-you__home {
        @include button-links;
        margin-bottom: 63px;
        &:after {
            display: none;
        }
    }
    .boxes1 {
        margin-top: 58px;
    }
    .boxes1,
    .boxes2 {
        width: 100%;
        @include flex-start-between;
        @include tablet {
            flex-direction: column;
        }
        .box1,
        .box2,
        .box3,
        .box4,
        .box5 {
            border: 1px solid #EBE1EF;
            border-radius: 30px;
            background-color: #FDFAFF;
            padding: 40px;
            height: 350px;
            @include flex-start-center;
            flex-direction: column;
            margin-bottom: 30px;
            h4 {
                @include header-h4;
                margin-bottom: 20px;
            }
            @include tablet {
                height: auto!important;
                width: 100%;
                flex-direction: column!important;
            }
        }
        .box1,
        .box2,
        .box3,
        .box4 {
            width: 32%;
            @include tablet {
                width: 100%;
            }
        }
        .box1,
        .box4 {
            margin-right: 2%;
            @include tablet {
                margin-right: 0;
            }
        }
        .box3,
        .box5 {
            margin-left: 2%;
            @include tablet {
                margin-left: 0;
            }
        }
        .box1 {
            span {
                font-size: 110px;
                margin-bottom: 35px;
            }
        }
        .box2 {
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .box4 {
            span {
                font-size: 96px;
                margin-bottom: 33px;
            }
        }
        .box5 {
            width: 64%;
            flex-direction: row;
            @include tablet {
                width: 100%;
            }
            ul {
                margin-left: 18px;
                li {
                    @include paragraph-text;
                }
            }
            .column-1,
            .column-2 {
                width: 45%;
                height: 100%;
                @include tablet {
                    width: 100%!important;
                    margin: 0!important;
                }
            }
            .column-1 {
                margin-right: 2.5%;
                @include flex-start-center;
                flex-direction: column;
                @include tablet {
                    margin-bottom: 40px!important;
                }
            }
            .column-2 {
                margin-left: 2.5%;
                img {
                    height: auto;
                    width: 283px;
                    object-fit: cover;
                }
            }
        }
    }
    #footer {
        margin-top: 215px!important;
    }
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    @include form-small-text;
    background-color: transparent;
    color: $light-gray;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    display: none;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $purple!important;
}

.iconic-wds-fields {
    margin: 0 0 13px;
}

.iconic-wds-datepicker--light .ui-datepicker-today .ui-state-active,
.iconic-wds-datepicker--light .ui-state-active {
    background: $purple!important;
    border-radius: 50%;
}

.iconic-wds-datepicker--light .ui-state-default:hover {
    background: $purple!important;
    border-radius: 50%;
    color: white!important;
    &:after {
        display: none;
    }
}

// simple product type detail page css
div.product-type-simple {
    form.cart {
        margin-top: 20px;
        .before_add_to_cart_content {
            display: none;
        }
        // cart plus / minus
        .custom-minus,
        .custom-plus,
        .quantity {
            float: left;
            margin-top: 15px;
        }
        .custom-minus,
        .custom-plus {
            background: none;
            border: none;
            font-size: 20px;
            padding: 6px 0;
            cursor: pointer;
            outline: none;
        }
        input.qty {
            border: none;
            border-bottom: 1px solid $light-gray;
            text-align: center;
            margin: 0 10px;
            padding: 6px 0;
            margin-top: 15px;
            font-family: $RobotoRegular;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        button[type=submit] {
            color: #4a0d66;
            font-family: $RobotoMedium;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 24px;
            text-transform: uppercase;
            display: inline-block;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            text-align: center;
            background: #fff;
            padding: 18px 30px;
            border: 1.5px solid #4a0d66;
            border-radius: 30px;
            margin-left: 20px;
        }
    }
}

// hide the incrementor decrementor on variation single product template
form.variations_form {
    .woocommerce-variation-add-to-cart {
        .custom-minus,
        .custom-plus {
            display: none;
        }
    }
}

// empty cart
.return-to-shop {
    margin-bottom: 150px;
}

// account section css
.woocommerce-MyAccount-content {
    .woocommerce-info,
    .woocommerce-message {
        padding: 20px 0!important;
        .woocommerce-Button {
            float: left;
        }
    }
}

.or_text {
    @include mobile {
        text-align: center;
    }
}

// hide the shop page content before shop loop
.post-type-archive-product {
    header.woocommerce-products-header {
        .page-description {
            display: none;
        }
    }
    #after-shop-loop-content {
        padding-bottom: 130px;
        @include tablet {
            padding-bottom: 30px;
            ;
        }
        @include mobile {
            p {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}

// cart page
.shop_table__order-summary {
    tr.recurring-totals {
        >th {
            padding: 16px 0!important;
        }
    }
    tr.fee {
        >th {
            padding: 24px 0 6px !important;
        }
        >td {
            text-align: right;
            border-bottom: 1px solid #ebe9eb;
        }
    }
    tr.order-total {
        >th {
            padding: 16px 0!important;
        }
        >td {
            padding: 16px 0!important;
        }
    }
    tr.cart-subtotal.recurring-total {
        th,
        td {
            padding-top: 16px!important;
        }
    }
    tr.shipping.recurring-total {
        >th {
            padding: 16px 0!important;
        }
        >td {
            padding: 16px 0!important;
            text-align: right!important;
        }
    }
    tr.order-total.recurring-total {
        th,
        td {
            padding-top: 16px!important;
        }
    }
}

// empty subscription
.woocommerce_account_subscriptions {
    p.no_subscriptions {
        background: none!important;
        margin: 0!important;
        a.woocommerce-Button {
            float: none!important;
            padding-left: 10px!important;
            font-size: 16px!important;
        }
    }
}

.woocommerce table.shop_table tbody > tr > td:first-child {
    @include tablet {
        padding-top: 0 !important;
    }
}