.page-template-blog-listing-php {
    #blog-listing {
        @include container;
        padding-top: 49px;
        @include mobile {
            padding-top: 29px;
        }
        h1 {
            margin-bottom: 41px;
            @include mobile {
                margin-bottom: 32px;
            }
        }
        .filters {
            margin-bottom: 100px;
            @include tablet {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
                width: 100%;
                >a {
                    flex-shrink: 0;
                }
            }
            @include mobile {
                margin-bottom: 66px;
            }
            a {
                @include blog-filters;
                text-transform: uppercase;
                margin-right: 37px;
                &:hover {
                    color: $purple;
                }
                &.active {
                    color: $purple;
                    &:after {
                        width: 100%;
                        background: $purple;
                    }
                }
            }
        }
        #article-listing {
            @include flex-start-between;
            flex-wrap: wrap;
            .entry {
                flex-grow: 1;
                width: 32%;
                max-width: 360px;
                @include tablet {
                    width: 48%;
                    max-width: 48%;
                    margin-bottom: 18px!important;
                }
                margin: 0 0 87px 0;
                border: 1px solid #E6E6E6;
                border-radius: 30px;
                background-color: #FFFFFF;
                &:nth-of-type(3n+2) {
                    margin: 0 2%;
                    @media (max-width: 1000px) {
                        margin: initial;
                    }
                    @include mobile {
                        margin: 0;
                    }
                }
                &:nth-of-type(2n+1) {
                    @media (max-width: 1000px) {
                        margin-right: 1%;
                    }
                    @include mobile {
                        margin: 0;
                    }
                }
                &:nth-of-type(2n+2) {
                    @media (max-width: 1000px) {
                        margin-left: 1%;
                    }
                    @include mobile {
                        margin: 0;
                    }
                }
                a {
                    &:after {
                        display: none;
                    }
                }
                img {
                    width: 100%;
                    height: 245px;
                    max-width: 360px;
                    object-fit: cover;
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                    @include mobile {
                        width: 100%;
                        max-width: 100%;
                        height: 150px;
                    }
                }
                .entry-content {
                    text-align: left;
                    margin: -6px auto 10px;
                    padding: 34px 40px;
                    // height: 280px;
                    height: 240px;
                    @media (max-width: 1200px) {
                        height: 320px;
                    }
                    @media (max-width: 1000px) {
                        height: 280px;
                    }
                    @include mobile {
                        padding: 22px 14px;
                        height: 180px;
                    }
                    a {
                        &:after {
                            display: none;
                        }
                    }
                    p {
                        margin: 0;
                        @include paragraph-small-text;
                        text-align: left;
                        text-transform: uppercase;
                        @include mobile {
                            font-size: 11px;
                        }
                    }
                    >h3, >.h3 {
                        >a {
                            overflow: hidden;
                            /* height: 40px; */
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            @include mobile {
                                font-size: 17px;
                                letter-spacing: 0;
                                line-height: 27px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                    h3, .h3 {
                        margin-top: 15px;
                        margin-bottom: 20px;
                        @include mobile {
                            margin-top: 10px;
                        }
                    }
                    .button-links {
                        padding: 13px 37px;
                        @include mobile {
                            font-size: 10px;
                            line-height: 24px;
                            letter-spacing: 2px;
                            border: 1px solid $purple;
                            padding: 6px 20px;
                        }
                    }
                }
            }
        }
        // pagination css
        .custom_pagination {
            margin-bottom: 120px;
            @include tablet {
                margin-top: 100px;
                text-align: center;
            }

            @include mobile {
                margin-top: 40px;
                text-align: center;
            }
            a.prev {
                transform: rotate(90deg);
                &:hover {
                    &:after {
                        width: 100%;
                        background: none;
                    }
                }
                span {
                    &:before {
                        font-size: 8px;
                        margin-left: -4px;
                    }
                }
            }
            a.next {
                transform: rotate(-90deg);
                &:hover {
                    &:after {
                        width: 100%;
                        background: none;
                    }
                }
                span {
                    &:before {
                        font-size: 8px;
                        margin-right: -4px;
                    }
                }
            }
            a.page-numbers {
                font-family: $RobotoLight;
                font-size: 16px;
                line-height: 30px;
                color: $text-gray;
                padding: 0 17px;
                @include mobile {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 0 10px;
                }
            }
            span.current {
                font-family: $RobotoLight;
                font-size: 16px;
                line-height: 30px;
                color: #ffffff;
                background: $purple;
                padding: 11px 15px;
                border-radius: 7px;
                margin: 0 10px;
                @include mobile {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 9px 13px;
                    margin: 0 4px;
                }
            }
        }
    }
}

.single {
    .article-wrapper {
        .article-hero {
            overflow-x: hidden;
            width: 100%;
            height: 320px;
            max-width: 100%;
            background-size: cover!important;
            @media (max-width: 800px) {
                height: 220px;
            }
        }
        header {
            @include container;
            h1 {
                margin-bottom: 32px;
            }
            .entry-meta {
                margin-top: 50px;
                margin-bottom: 15px;
                @media (max-width: 768px) {
                    margin-top: 42px;
                }
                .date {
                    @include paragraph-small-text;
                    text-transform: uppercase;
                }
            }
            .header-author {
                margin-bottom: 35px;
                .byline {
                    @include product-add-ons-text;
                    color: $purple;
                }
                .category {
                    border-radius: 10px;
                    background-color: #84754E;
                    padding: 11px 19px;
                    @include sub-footer-link;
                    color: white;
                    text-transform: uppercase;
                    margin-right: 18px;
                }
            }
        }
        .article-body {
            @include container;
            p {
                margin-bottom: 38px;
            }
            .wp-block-image {
                margin-bottom: 38px;
                img {
                    border-radius: 60px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            h3 {
                margin-bottom: 38px;
            }
            ol {
                padding-left: 15px;
            }
        }
    }
    &.recipe {
        .recipe-details {
            @include flex-start-between;
            margin-bottom: 27px;
            flex-wrap: wrap;
            h3 {
                margin-bottom: 30px;
            }
            .ingredients,
            .methods {
                flex-basis: 50%;
                @media (max-width: 768px) {
                    flex-basis: 100%;
                }
                ul,
                ol {
                    li {
                        @include paragraph-text;
                        margin-left: 16px;
                    }
                }
            }
            .methods {
                @media (max-width: 768px) {
                    margin-top: 46px;
                }
            }
        }
        .about-detail-row {
            padding-bottom: 85px!important;
            @media (max-width: 768px) {
                padding-bottom: 47px!important;
            }
            .about-detail-wrapper {
                display: flex;
                flex-direction: row;
                @include tablet {
                    flex-direction: column!important;
                }
                .content-wrapper {
                    padding-left: 10%;
                    padding-top: 0px!important;
                    h2 {
                        margin-bottom: 22px;
                    }
                    .article-body {
                        width: 100%;
                    }
                    .recipe-overview {
                        @include flex-start-between;
                        @include mobile {
                            flex-wrap: wrap!important;
                            >div {
                                width: 50%;
                                margin-bottom: 10px;
                            }
                        }
                        span {
                            &:first-of-type {
                                font-size: 15px;
                                margin-right: 11px;
                            }
                            &.details {
                                @include paragraph-text;
                            }
                        }
                    }
                }
                .img-wrapper {
                    img {
                        right: 5px!important;
                    }
                }
            }
        }
    }

    .also-like-wrapper {
        @include container;
        margin-top: 100px;
        @include mobile {
            margin-top: 30px;
        }
        >h3 {
            margin-bottom: 40px;
            @include mobile {
                margin-bottom: 24px;
            }
        }
        .also-like__articles {
            display: flex;
            justify-content: space-between;

            @include mobile {
                flex-wrap: wrap;
            }

            .also-like__article {
                border: 1px solid #e6e6e6;
                border-radius: 30px;
                overflow: hidden;
                a {
                    width: 100%;
                    &:hover {
                        &:after {
                            width: 100%;
                            background: none!important;
                        }
                    }
                    @include mobile {
                        height: 150px;
                        img {
                            object-fit: cover;
                        }
                    }
                }
                width: 33.33%;
                margin-right: 20px;
                @include mobile {
                    width: 47%;
                    margin: 7px 4px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    padding: 10px 24px 20px;
                    >a {
                        color: $text-gray;
                    font-family: $RobotoRegular;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 28px;
                    }
                }
            }
        }
    }
}
