    .page-template-page-diet-assessment-tool {
        #diet_assessment-page {
            background-color: $light-purple;

            .select2-container {
                @include tablet {
                    width: 66px!important;
                }
            }
            
            
            .diet-assessment-wrapper {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                overflow: hidden;
                @include tablet {
                    flex-direction: column;
                }
                // images
                .diet_assessment-image-wrapper {
                    width: 37.5%;
                    max-height: 1050px;
                    margin-right: 65px;
                    @include tablet {
                        width: 100%;
                        margin-right: 0;
                        max-height: 222px;
                        margin-bottom: 50px;
                    }
                    .diet_assessment-image {
                        display: none;
                        img {
                            width: 100%;
                            object-fit: cover;
                            max-height: 1050px;
                            @include tablet {
                                max-height: 222px
                            }
                        }
                    }
                    .diet_assessment-image-1 {
                        display: block;
                        img {
                            width: 100%;
                        }
                    }
                }
                // content
                .diet_assessment-form {
                    min-height: 450px;
                    display: flex;
                    width: 62.5%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    padding-right: 15%;
                    @include tablet {
                        width: 100%;
                        padding-right: 0;
                        padding-left: 25px;
                        padding-right: 25px;
                        padding-bottom: 40px;
                    }
                    // tool title
                    .tool_title {
                        @include tablet {
                            text-align: center;
                        }
                        h1 {
                            color: $gold!important;
                            font-family: $LuxiaDisplay!important;
                            font-size: 36px!important;
                            letter-spacing: 0;
                            line-height: 50px;
                            margin-bottom: 5px!important;
                            @include tablet {
                                margin-bottom: 20px!important;
                            }
                        }
                    }
                    /* Style the tab */
                    .tab-header {
                        overflow: hidden;
                        margin-bottom: 30px;
                        @include tablet {
                            margin-bottom: 20px;
                            text-align: center;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        a {
                            text-transform: uppercase;
                            background-color: inherit;
                            float: left;
                            border: none;
                            outline: none;
                            padding: 14px 16px 14px 0;
                            transition: 0.3s;
                            color: $light-gray;
                            font-family: $RobotoMedium;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 2px;
                            line-height: 24px;
                            &:hover {
                                &:after {
                                    content: '';
                                    width: 0px!important;
                                }
                            }
                        }
                        a.active {
                            color: $purple;
                            &:after {
                                content: '';
                                display: block;
                                margin: auto;
                                height: 2px;
                                width: 50px;
                                background: $purple;
                            }
                        }
                    }
                    /* Style the tab content */
                    .tabcontent {
                        display: none;
                        padding: 6px 0;
                        border-top: none;
                    }
                    #step1 {
                        display: block;
                        // div radio button css
                        .radio {
                            display: inline-block;
                            cursor: pointer;
                            margin: 2px 0;
                        }
                        .first_section {
                            margin-bottom: 60px;
                            >h3 {
                                @include tablet {
                                    text-align: center!important;
                                }
                            }
                            .male_female_wrapper {
                                margin-top: 28px;
                                display: flex;
                                @include tablet {
                                    justify-content: center;
                                }
                                .custom-icon {
                                    font-size: 50px;
                                }
                                .radio-group {
                                    display: flex;
                                    .male {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        border: 1px solid #ebe1ef;
                                        width: 338px;
                                        height: 150px;
                                        border-radius: 30px;
                                        margin-right: 20px;
                                        @include tablet {
                                            width: 156px;
                                            height: 156px;
                                            margin-right: 0px;
                                        }
                                        p {
                                            color: $purple;
                                            font-family: $RobotoRegular;
                                            font-size: 20px;
                                            letter-spacing: 0;
                                            line-height: 30px;
                                            text-align: center;
                                        }
                                    }
                                    .female {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        border: 1px solid #ebe1ef;
                                        width: 338px;
                                        height: 150px;
                                        border-radius: 30px;
                                        margin-left: 20px;
                                        @include tablet {
                                            width: 156px;
                                            height: 156px;
                                        }
                                        p {
                                            color: $purple;
                                            font-family: $RobotoRegular;
                                            font-size: 20px;
                                            letter-spacing: 0;
                                            line-height: 30px;
                                            text-align: center;
                                        }
                                    }
                                    .radio {
                                        background: #ffffff;
                                        transition: background-color .3s linear, box-shadow .3s linear;
                                        p.icon {
                                            margin-bottom: 10px;
                                        }
                                        &:hover {
                                            background: $purple;
                                            border: 1px solid $purple;
                                            box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                            p {
                                                color: #ffffff;
                                                .custom-icon {
                                                    &:before {
                                                        color: #ffffff;
                                                    }
                                                }
                                            }
                                            p.icon {
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }
                                    .selected {
                                        background: $purple;
                                        box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                        border: none;
                                        p {
                                            color: #ffffff;
                                            .custom-icon {
                                                &:before {
                                                    color: #ffffff;
                                                }
                                            }
                                        }
                                        p.icon {
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        .second_section {
                            .personal_info_wrapper {
                                margin-top: 34px;
                                display: flex;
                                @include tablet {
                                    flex-direction: column;
                                }
                                >div {
                                    width: 33%;
                                    margin-right: 36px;
                                    @include tablet {
                                        width: 100%;
                                        margin-right: 0;
                                        margin-bottom: 44px;
                                    }
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                    label {
                                        color: $light-gray;
                                        font-family: $RobotoRegular;
                                        font-size: 14px;
                                        letter-spacing: 0;
                                        line-height: 22px;
                                    }
                                    span.select2 {
                                        margin-top: 10px;
                                        outline: none!important;
                                        &:focus {
                                            outline: none!important;
                                        }
                                        span.selection {
                                            span.select2-selection {
                                                border: none;
                                                background: none;
                                                border-bottom: 1px solid $light-gray;
                                                border-radius: 0;
                                                padding-bottom: 40px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .third_section {
                            margin-top: 80px;
                            @include tablet {
                                margin-top: 30px;
                            }
                        }
                    }
                    #step2 {
                        .first_section {
                            >h3 {
                                @include tablet {
                                    text-align: center!important;
                                }
                            }
                            .activity_level_wrapper {
                                margin-top: 56px;
                                @include tablet {
                                    margin-top: 32px;
                                }
                                .radio-group {
                                    display: flex;
                                    justify-content: space-between;
                                    cursor: pointer;
                                    @include tablet {
                                        flex-direction: column;
                                    }
                                    >div {
                                        display: flex;
                                        justify-content: flex-start;
                                        flex-direction: column;
                                        align-items: center;
                                        p {
                                            text-align: center;
                                        }
                                        .custom-icon {
                                            font-size: 50px;
                                        }
                                        p.icon {
                                            margin-bottom: 10px;
                                            margin-bottom: 12px;
                                        }
                                        p.title {
                                            color: $purple;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: $light-gray;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                    .radio {
                                        background: #ffffff;
                                        transition: background-color .3s linear, box-shadow .3s linear;
                                        border: 1px solid #EBE1EF;
                                        border-radius: 30px;
                                        padding: 36px 18px 50px;
                                        background: white;
                                        width: 221px;
                                        margin-right: 15px;
                                        @include tablet {
                                            width: 100%;
                                            margin-right: 0;
                                            margin-bottom: 20px;
                                        }
                                        &:hover {
                                            background: $purple;
                                            border: 1px solid $purple;
                                            box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                            p.icon {
                                                margin-bottom: 10px;
                                                .custom-icon {
                                                    &:before {
                                                        color: #ffffff;
                                                    }
                                                }
                                            }
                                            p.title {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 18px;
                                                letter-spacing: 0;
                                                line-height: 28px;
                                                text-align: center;
                                                margin-bottom: 8px;
                                            }
                                            p.desc {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 14px;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .selected {
                                        background: $purple;
                                        box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                        border: none;
                                        p.icon {
                                            margin-bottom: 10px;
                                            .custom-icon {
                                                &:before {
                                                    color: #ffffff;
                                                }
                                            }
                                        }
                                        p.title {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .second_section {
                            display: flex;
                            margin-top: 80px;
                            @include tablet {
                                margin-top: 30px;
                            }
                            >button {
                                &:first-child {
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    #step3 {
                        .first_section {
                            >h3 {
                                @include tablet {
                                    text-align: center!important;
                                }
                            }
                            .goal_wrapper {
                                margin-top: 56px;
                                @include tablet {
                                    margin-top: 32px;
                                }
                                .radio-group {
                                    display: flex;
                                    justify-content: space-between;
                                    cursor: pointer;
                                    @include tablet {
                                        flex-direction: column;
                                    }
                                    >div {
                                        display: flex;
                                        justify-content: flex-start;
                                        flex-direction: column;
                                        align-items: center;
                                        p {
                                            text-align: center;
                                        }
                                        .custom-icon {
                                            font-size: 50px;
                                        }
                                        p.icon {
                                            margin-bottom: 10px;
                                            margin-bottom: 12px;
                                        }
                                        p.title {
                                            color: $purple;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: $light-gray;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                    .radio {
                                        background: #ffffff;
                                        transition: background-color .3s linear, box-shadow .3s linear;
                                        border: 1px solid #EBE1EF;
                                        border-radius: 30px;
                                        padding: 36px 18px 50px;
                                        background: white;
                                        width: 221px;
                                        margin-right: 15px;
                                        @include tablet {
                                            width: 100%;
                                            margin-right: 0;
                                            margin-bottom: 20px;
                                        }
                                        &:hover {
                                            background: $purple;
                                            border: 1px solid $purple;
                                            box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                            p.icon {
                                                margin-bottom: 10px;
                                                .custom-icon {
                                                    &:before {
                                                        color: #ffffff;
                                                    }
                                                }
                                            }
                                            p.title {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 18px;
                                                letter-spacing: 0;
                                                line-height: 28px;
                                                text-align: center;
                                                margin-bottom: 8px;
                                            }
                                            p.desc {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 14px;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .selected {
                                        background: $purple;
                                        box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                        border: none;
                                        p.icon {
                                            margin-bottom: 10px;
                                            .custom-icon {
                                                &:before {
                                                    color: #ffffff;
                                                }
                                            }
                                        }
                                        p.title {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .second_section {
                            display: flex;
                            margin-top: 80px;
                            @include tablet {
                                margin-top: 30px;
                            }
                            >button {
                                &:first-child {
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    #step4 {
                        .first_section {
                            >h3 {
                                @include tablet {
                                    text-align: center!important;
                                }
                            }
                            .preference_wrapper {
                                margin-top: 56px;
                                @include tablet {
                                    margin-top: 32px;
                                }
                                .radio-group {
                                    display: flex;
                                    justify-content: space-between;
                                    cursor: pointer;
                                    @include tablet {
                                        flex-direction: column;
                                    }
                                    >div {
                                        display: flex;
                                        justify-content: flex-start;
                                        flex-direction: column;
                                        align-items: center;
                                        p {
                                            text-align: center;
                                        }
                                        .custom-icon {
                                            font-size: 50px;
                                        }
                                        p.icon {
                                            margin-bottom: 10px;
                                            margin-bottom: 12px;
                                        }
                                        p.title {
                                            color: $purple;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: $light-gray;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                    .radio {
                                        background: #ffffff;
                                        transition: background-color .3s linear, box-shadow .3s linear;
                                        border: 1px solid #EBE1EF;
                                        border-radius: 30px;
                                        // padding: 36px 18px 50px;
                                        padding: 36px 18px;
                                        justify-content: center;
                                        background: white;
                                        width: 221px;
                                        margin-right: 15px;
                                        @include tablet {
                                            width: 100%;
                                            margin-right: 0;
                                            margin-bottom: 20px;
                                        }
                                        &:hover {
                                            background: $purple;
                                            border: 1px solid $purple;
                                            box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                            p.icon {
                                                margin-bottom: 10px;
                                                .custom-icon {
                                                    &:before {
                                                        color: #ffffff;
                                                    }
                                                }
                                            }
                                            p.title {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 18px;
                                                letter-spacing: 0;
                                                line-height: 28px;
                                                text-align: center;
                                                margin-bottom: 8px;
                                            }
                                            p.desc {
                                                color: #ffffff;
                                                font-family: $RobotoRegular;
                                                font-size: 14px;
                                                letter-spacing: 0;
                                                line-height: 22px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .selected {
                                        background: $purple;
                                        box-shadow: 1px 5px 40px 22px rgba(74, 13, 102, 0.3);
                                        border: none;
                                        p.icon {
                                            margin-bottom: 10px;
                                            .custom-icon {
                                                &:before {
                                                    color: #ffffff;
                                                }
                                            }
                                        }
                                        p.title {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 18px;
                                            letter-spacing: 0;
                                            line-height: 28px;
                                            text-align: center;
                                            margin-bottom: 8px;
                                        }
                                        p.desc {
                                            color: #ffffff;
                                            font-family: $RobotoRegular;
                                            font-size: 14px;
                                            letter-spacing: 0;
                                            line-height: 22px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .second_section {
                            display: flex;
                            margin-top: 80px;
                            @include tablet {
                                margin-top: 30px;
                            }
                            >button {
                                &:first-child {
                                    margin-right: 30px;
                                }
                                &:last-child {
                                    p:first-child {
                                        margin-right: 0!important;
                                    }
                                }
                            }
                        }
                    }
                    // result section
                    .result_wrapper {
                        display: none;
                    }
                    .result_header {
                        margin-bottom: 50px;
                        @include tablet {
                            margin-bottom: 30px;
                            text-align: center;
                        }
                        h2 {
                            color: $gold!important;
                            font-family: $LuxiaDisplay!important;
                            font-size: 36px!important;
                            letter-spacing: 0;
                            line-height: 50px;
                        }
                    }
                    .result_body {
                        display: flex;
                        align-items: center;
                        @include tablet {
                            flex-direction: column;
                        }
                        >div {
                            &:first-child {
                                width: 30%;
                                @include tablet {
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 30px;
                                }
                                .circle {
                                    width: 180px;
                                    margin: 0;
                                    position: relative;
                                    text-align: center;
                                    vertical-align: top;
                                    p#calorie_val {
                                        top: 70px;
                                        color: $purple;
                                        font-family: $RobotoRegular;
                                        font-size: 18px;
                                        letter-spacing: 0;
                                        line-height: 28px;
                                        text-align: center;
                                        position: absolute;
                                        left: 0;
                                        width: 100%;
                                    }
                                    p#kcal_text {
                                        top: 100px;
                                        color: $light-gray;
                                        font-family: $RobotoLight;
                                        font-size: 16px;
                                        letter-spacing: 0;
                                        line-height: 21px;
                                        text-align: center;
                                        position: absolute;
                                        left: 0;
                                        width: 100%;
                                    }
                                }
                            }
                            &:last-child {
                                width: 70%;
                                padding-left: 18px;
                                @include tablet {
                                    width: 100%;
                                    padding-left: 0;
                                    text-align: center;
                                    p {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .result_content {
                            display: none;
                            @include tablet {
                                width: 100%;
                            }
                            h3 {
                                color: $purple;
                                font-family: $RobotoRegular;
                                font-size: 20px;
                                letter-spacing: 0;
                                line-height: 30px;
                                margin-bottom: 13px;
                            }
                            p {
                                color: $text-gray;
                                font-family: $RobotoLight;
                                font-size: 16px;
                                font-weight: 300;
                                letter-spacing: 0;
                                line-height: 30px;
                            }
                        }
                    }
                    .recommended_products {
                        position: relative;
                        overflow: hidden;
                        h1 {
                            position: relative;
                        }
                        .recommended-meal-plan__wrapper {
                            width: 100%;
                            height: 100%;
                            margin-top: 70px;
                            display: flex;
                            flex-wrap: wrap;
                            @include tablet {
                                margin-top: 50px;
                            }
                            .recommended-meal-plan__item {
                                // width: 360px;
                                width: 50%;
                                // max-width: 225px;
                                // max-height: 430px;
                                @include tablet {
                                    // max-width: 156px;
                                    // max-height: 330px;
                                }
                                &:nth-child(2n) {
                                    padding-left: 10px;
                                    padding-bottom: 10px;
                                }
                                &:nth-child(2n + 1) {
                                    padding-right: 10px;
                                    padding-bottom: 10px;
                                }
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                                img {
                                    width: 100%;
                                    height: 230px;
                                    object-fit: cover;
                                    border-top-right-radius: 30px;
                                    border-top-left-radius: 30px;
                                    @include tablet {
                                        height: 200px;
                                    }
                                }
                                .recommended-meal-plan__content {
                                    text-align: left;
                                    border: 1px solid #E6E6E6;
                                    background-color: #FFFFFF;
                                    border-top: none;
                                    border-bottom-right-radius: 30px;
                                    border-bottom-left-radius: 30px;
                                    margin: -6px auto 10px;
                                    padding: 38px 40px;
                                    height: 245px;
                                    @include tablet {
                                        padding: 16px 15px;
                                        height: 182px;
                                    }
                                    a {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                    a.button-links__product {
                                        padding: 11px 27px!important;
                                    }
                                    p {
                                        margin: 0;
                                        @include paragraph-small-text;
                                        text-align: left;
                                        text-transform: uppercase;
                                        @include tablet {
                                            font-size: 11px;
                                            font-weight: 300;
                                            letter-spacing: 2px;
                                            line-height: 20px;
                                        }
                                    }
                                    h3 {
                                        margin-top: 15px;
                                        margin-bottom: 20px;
                                        @include tablet {
                                            margin-top: 0;
                                            a {
                                                font-size: 17px!important;
                                                letter-spacing: 0!important;
                                                line-height: 32px!important;
                                            }
                                        }
                                    }
                                    a.button-links__product {
                                        @include tablet {
                                            padding: 6px 18px!important;
                                            font-size: 10px!important;
                                            border: 1px solid $purple;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .meet_dietician_wrapper {
                        display: none;
                        margin-top: 60px;
                        a {
                            border: 1px solid $purple!important;
                            border-radius: 30px;
                            padding: 22px 26px;
                            font-size: 13px;
                            line-height: 16px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-family: $RobotoMedium;
                            background: $purple;
                            color: white;
                            @include mobile {
                                font-size: 12px;
                                line-height: 24px;
                                letter-spacing: 2px;
                                padding: 10px 26px;
                            }
                        }
                    }
                    // all step button styles
                    button {
                        cursor: pointer;
                        background: none;
                        border: 1px solid $purple;
                        padding: 23px 42px 12px;
                        border-radius: 30px;
                        background-color: $purple;
                        display: flex;
                        @include tablet {
                            padding: 16px 30px 4px;
                        }
                        p {
                            text-transform: uppercase;
                            color: #FFFFFF;
                            font-family: $RobotoMedium;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 2px;
                            line-height: 24px;
                            text-align: center;
                            &:first-child {
                                margin-right: 14px;
                            }
                        }
                        p.icon_after {
                            margin-bottom: 10px;
                            font-size: 9px;
                            transform: rotateZ(90deg);
                            &:before {
                                color: #ffffff;
                            }
                        }
                        p.icon_before {
                            margin-bottom: 10px;
                            font-size: 9px;
                            transform: rotateZ(-90deg);
                            &:before {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // loading icon
    .eat_loading {
        display: none;
        position: fixed!important;
        z-index: 999!important;
        overflow: show!important;
        margin: auto!important;
        top: 0!important;
        left: 0!important;
        bottom: 0!important;
        right: 0!important;
        width: 50px!important;
        height: 50px!important;
    }
    /* Transparent Overlay */
    
    .eat_loading:before {
        content: ''!important;
        display: block!important;
        position: fixed!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 100%!important;
        background-color: rgba(255, 255, 255, 0.5)!important;
    }
    /* :not(:required) hides these rules from IE9 and below */
    
    .eat_loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
    
    .eat_loading:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 50px;
        height: 50px;
        margin-top: -0.5em;
        border: 5px solid $purple;
        border-radius: 100%;
        border-bottom-color: transparent;
        -webkit-animation: spinner 1s linear 0s infinite;
        animation: spinner 1s linear 0s infinite;
    }
    
    @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }