.login-wrapper,
.error-wrapper {
    @include flex-center-between;
    @include tablet {
        flex-direction: column;
    }
    .login-image,
    .error-image {
        width: 37.5%;
        max-height: 1050px;
        margin-right: 65px;
        @include tablet {
            width: 60%;
            max-height: 380px;
            margin-right: 0;
        }
        @include mobile {
            width: 100%;
            max-height: 220px;
            margin-right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.register-image {
                display: none;
            }
        }

        @include tablet {
            overflow: hidden;
        }
    }
    .login-content,
    .error-content {
        display: flex;
        width: 62.5%;
        flex-direction: column;
        padding-right: 20%;
        @include mobile {
            width: 100%;
            padding: 30px!important;
        }
        .u-columns {
            h1 {
                margin-bottom: 37px;
            }
        }
        .my-account__lost-password {
            margin-bottom: 12px;
        }
        .lost-password-text {
            margin-bottom: 40px;
        }
        .password-buttons {
            margin-top: 35px;
            .woocommerce-form-password__submit {
                @include button-links-text;
                @include button-links;
                float: none!important;
            }
        }
        // woocommerce resets
        .woocommerce .col2-set .col-1,
        .woocommerce-page .col2-set .col-1 {
            float: initial;
            width: 100%;
        }
        .woocommerce .col2-set .col-2,
        .woocommerce-page .col2-set .col-2 {
            float: initial;
            width: 100%;
        }
        .woocommerce form.checkout_coupon,
        .woocommerce form.login,
        .woocommerce form.register {
            border: none;
            padding: 0;
            margin: 0;
            text-align: initial;
            border-radius: 0;
        }
        #customer_login {
            #sign-in-section,
            #sign-up-section {
                transition: all 0.3s cubic-bezier(.93, .41, 0, 1.06);
                transition-property: opacity, visibility;
                overflow: hidden;
                height: 0;
                opacity: 0;
                visibility: hidden;
                &.active {
                    height: 100%;
                }
                &.visible {
                    opacity: 1;
                    visibility: visible;
                }
                .woocommerce-form-login,
                .woocommerce-form-register {
                    .forgot-password {
                        width: 100%;
                        @include flex-start-between;
                        label {
                            flex-grow: 1;
                        }
                        a {
                            text-align: right;
                            @include button-links-text;
                            color: $form-text;
                            border-bottom: 1px solid $form-text;
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .sign-in-buttons {
                        margin-top: 40px;
                        .woocommerce-form-login__submit,
                        .woocommerce-form-register__submit {
                            @include button-links-text;
                            @include button-links;
                            float: none!important;
                            margin-right: 20px;
                        }
                        @include mobile {
                            width: 100%;
                            button {
                                width: 100%;
                                padding: 12px!important;
                            }
                        }
                    }
                    .sign-up-instead {
                        margin-top: 58px;
                        @include mobile {
                            margin-top: 26px;
                            width: 100%;
                            text-align: center;
                            button {
                                width: 100%;
                                padding: 12px!important;
                            }
                        }
                        a {
                            text-align: right;
                            @include button-links-text;
                            color: $purple;
                            border-bottom: 1px solid $purple;
                            margin-left: 10px;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
            #sign-up-section {
                .form-row-names {
                    width: 100%;
                    @include flex-start-between;
                    span {
                        width: 50%;
                        &.first-name {
                            margin-right: 12px;
                        }
                        &.last-name {
                            margin-left: 12px;
                        }
                    }
                }
                p.form-row.check-tc {
                    margin-top: 10px;
                }
                .check_tc-error {
                    color: #FF0000;
                    opacity: 0;
                    visibility: 0;
                    transition: all 0.3s cubic-bezier(.93, .41, 0, 1.06);
                    &.visible {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .login-content {
        @include tablet {
            padding: 0;
            margin-top: 80px;
        }
    }
}

.page-template-my-account {
    &.logged-in {
        #my-account-page {
            @include container;
            .account-content {
                margin-top: 30px;
                margin-bottom: 115px;
                h1 {
                    margin-bottom: 38px;
                    @include mobile {
                        margin-bottom: 10px;
                    }
                }
                // show hide table based on screen size
                .orders-table-mobile {
                    display: none;
                }
                .orders-table-desktop {
                    display: table;
                }
                @include mobile {
                    .orders-table-mobile {
                        display: block;
                        .woocommerce-orders-table__row {
                            td {
                                &:before {
                                    content: ''!important;
                                }
                            }
                        }
                    }
                    .orders-table-desktop {
                        display: none;
                    }
                }
                .woocommerce-MyAccount-navigation {

                    @include tablet {
                        width: 100%;
                    }
                    ul {
                        margin-left: 0!important;
                        @include tablet {
                            display: flex;
                            flex-direction: row;
                            overflow-x: scroll;
                            padding: 0px;
                            li {
                                flex-shrink: 0;
                                width: auto;
                                padding: 0;
                            }
                        }
                        list-style-type: none;
                        .woocommerce-MyAccount-navigation-link--edit-account,
                        .woocommerce-MyAccount-navigation-link--edit-address,
                        .woocommerce-MyAccount-navigation-link--orders,
                        .woocommerce-MyAccount-navigation-link--customer-logout {
                            height: 70px;
                            width: 263px;
                            @include flex-center-start;
                            padding-left: 37px;
                            @include tablet {
                                padding-left: 0px;
                                padding-right: 30px;
                                width: auto;
                                box-shadow: none!important;
                            }
                            @include transition-3s-eio;
                            &:hover,
                            &.is-active {
                                border-radius: 25px;
                                background-color: #FFFFFF;
                                box-shadow: 0 10px 40px 0 rgba(74, 13, 102, 0.05);
                                &:before,
                                a {
                                    padding-left: 8px!important;
                                    color: $purple;
                                }
                                @include tablet {
                                    a {
                                        padding-left: 8px!important;
                                        border-bottom: 2px solid $purple;
                                        padding: 0;
                                    }
                                }
                            }
                            color: $form-text;
                            margin-bottom: 70px;
                            @include tablet {
                                margin-bottom: 0px;
                            }
                            &:before {
                                font-family: $icomoon;
                                color: $form-text;
                                position: relative;
                                top: -1px;
                                @include transition-3s-eio;
                            }
                            a {
                                padding-left: 8px;
                                @include button-links-text;
                                color: $form-text;
                                @include transition-3s-eio;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                        .woocommerce-MyAccount-navigation-link--edit-account {
                            &:before {
                                content: "\e913";
                            }
                        }
                        .woocommerce-MyAccount-navigation-link--edit-address {
                            &:before {
                                content: "\e90b";
                                font-size: 25px;
                                left: -5px;
                            }
                            a {
                                position: relative;
                                left: -10px;
                            }
                        }
                        .woocommerce-MyAccount-navigation-link--orders {
                            &:before {
                                content: "\e921";
                                left: 2px;
                            }
                            a {
                                position: relative;
                                left: 2px;
                            }
                        }
                        .woocommerce-MyAccount-navigation-link--customer-logout {
                            &:before {
                                content: "\e922";
                                left: 1px;
                            }
                        }
                        @include mobile {
                            .woocommerce-MyAccount-navigation-link {
                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                }
                .woocommerce-MyAccount-content {
                    @include table-bubble;
                    padding: 56px;
                    @include tablet {
                        padding: 15px;
                        margin-top: 20px;
                        width: 100%;
                    }
                    .woocommerce-address-fields__field-wrapper {
                        p#billing_state_field,
    p#billing_region_field,
    p#billing_postcode_field,
    p#shipping_state_field,
    p#shipping_region_field,
    p#shipping_postcode_field {
        span.select2-container {
            border-bottom: 1px solid #948E97;
            padding-bottom: 18px;
            width: 100%!important;
        }
    }
                    }
                    .woocommerce-EditAccountForm {
                        // @include mobile {
                        margin-top: 24px;
                        // }
                    }
                    .woocommerce-form-row {
                        label {
                            @include form-small-text;
                            color: $light-gray;
                        }
                    }
                    .acf-fields {
                        width: 100%;
                        .acf-field-5ec4a5b87a735,
                        .acf-field-5ec4a5e47a736,
                        .acf-field-5ec4a6107a737 {
                            float: left;
                            width: 30%;
                            overflow: visible;
                            clear: none;
                        }
                        .acf-field-5ec4a5b87a735,
                        .acf-field-5ec4a5e47a736,
                        .acf-field-5ec4a6107a737,
                        .acf-field-5ec4a5887a734 {
                            position: relative;
                            .acf-input {
                                &:after {
                                    content: "\e91f";
                                    font-family: $icomoon;
                                    color: $form-text;
                                    font-size: 7px;
                                    top: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                                select {
                                    -moz-appearance: none;
                                    /* Firefox */
                                    -webkit-appearance: none;
                                    /* Safari and Chrome */
                                    border: none;
                                    border-bottom: 1px solid $light-gray;
                                    @include paragraph-text;
                                    padding: 0px 0px 20px 0px;
                                    background-color: transparent;
                                    margin-bottom: 28px!important;
                                }
                            }
                        }
                        .acf-field-5ec4a5b87a735,
                        .acf-field-5ec4a5e47a736 {
                            margin-right: 5%;
                        }
                        .acf-field-5ec4a5b87a735 {
                            &:before {
                                content: ' ';
                                display: table;
                            }
                        }
                        .acf-field-5ec4a6107a737 {
                            &:after {
                                clear: both;
                            }
                        }
                    }
                    button {
                        @include button-links;
                        margin-top: 27px;
                        background-color: transparent;
                    }
                    p {
                        margin-bottom: 30px;
                    }
                    .woocommerce-Addresses {
                        // @include mobile {
                        margin-top: 30px;
                        // }
                        .col-1,
                        .col-2 {
                            float: none;
                            width: 100%;
                            border: 1px solid #EBE1EF;
                            border-radius: 35px;
                            background-color: #FFFFFF;
                            padding: 33px 50px;
                            @include mobile {
                                padding: 30px 36px;
                            }
                            h3 {
                                @include header-h4;
                            }
                            address {
                                br {
                                    height: 0;
                                }
                                @include paragraph-text;
                                font-style: normal;
                            }
                            .edit {
                                visibility: hidden;
                                position: relative;
                                &:after {
                                    content: "\e920";
                                    font-family: $icomoon;
                                    color: $purple;
                                    font-size: 24px;
                                    right: 26px;
                                    visibility: visible;
                                    display: block;
                                    position: absolute;
                                    width: 0;
                                    background: transparent;
                                }
                            }
                        }
                        .col-1 {
                            margin-bottom: 33px;
                        }
                    }
                    .my-account-order-wrapper {
                        .order-heading {
                            @include flex-start-between;
                            margin-bottom: 50px;
                            .order-status {
                                border-radius: 15px;
                                background-color: #FFF7E2;
                                @include button-links-text;
                                padding: 16px 18px;
                                .oval {
                                    display: inline-block;
                                    border-radius: 3px;
                                    height: 6px;
                                    width: 6px;
                                    background-color: #F7B500;
                                    margin-right: 4px;
                                }
                            }
                        }
                        .order-date {
                            h3 {
                                margin-bottom: 8px;
                            }
                            .delivery-info {
                                margin-bottom: 17px;
                            }
                            .delivery-times {
                                margin-bottom: -8px;
                                .delivery-label {
                                    display: inline-block;
                                    width: 122px;
                                }
                                .delivery-detail {
                                    color: $purple;
                                    font-family: $RobotoMedium;
                                }
                            }
                        }
                        .woocommerce-customer-details {
                            border-bottom: 1px solid #EBE1EF;
                            margin-top: 53px;
                            h2 {
                                @include header-h3;
                                margin-bottom: 7px;
                            }
                            address {
                                padding: 0;
                                border: none;
                                @include paragraph-text;
                            }
                        }
                        .woocommerce-order-details {
                            h3 {
                                margin-bottom: 29px;
                            }
                            .wc-item-meta {
                                list-style: none;
                                li {
                                    strong {
                                        @include paragraph-text;
                                        display: inline-block;
                                        width: 260px;
                                    }
                                    p {
                                        display: inline;
                                        color: $purple;
                                    }
                                }
                            }
                            .product-total {
                                display: block;
                                text-align: right!important;
                                color: $purple;
                                font-family: $RobotoMedium;
                            }
                            .order-totals {
                                border-top: 1px solid #EBE1EF;
                                padding-top: 30px;
                                p {
                                    .total-label,
                                    .total-detail {
                                        width: 50%;
                                        display: inline-block;
                                        float: left;
                                    }
                                    .total-detail {
                                        text-align: right;
                                    }
                                    .total-detail {
                                        color: $purple;
                                        font-family: $RobotoMedium;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}